<plugin name='zendesk-sso' version='0.2.5' grailsVersion='2.0.4 &gt; *'>
  <author>Bertrand Pages</author>
  <authorEmail>bpages@doc4web.com</authorEmail>
  <title>Zendesk Sso Plugin</title>
  <description>This plugin allows application to interact with zendesk and particularly with the remote auth functionality.
</description>
  <documentation>http://grails.org/plugin/zendesk-sso</documentation>
  <type>ZendeskSsoGrailsPlugin</type>
  <resources>
    <resource>Zendesk2Resources</resource>
    <resource>plugin.grails.zendesk.sso.ZendeskSSOService</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies>
    <compile>
      <dependency group='com.nimbusds' name='nimbus-jose-jwt' version='2.16' />
    </compile>
  </dependencies>
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>